@charset "UTF-8";
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
.thrColAbsHdr #container {
	position: relative; /* adding position: relative allows you to position the two sidebars relative to this container */
	width: 1000px;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 1px solid #000000;
	text-align: left;
} 

/* Tips for absolutely positioned sidebars with header and footer:
1. Absolutely positioned (AP) elements must be given a top and side value, either right or left. (As a default, if no top value is given, the AP element will begin directly after the last element in the source order of the page. This means, if the sidebars are first element in the #container in the document's source order, they will appear at the top of the #container even without being given a top value. However, if they are moved later in the source order for any reason, they'll need a top value to appear where you desire.
2. Absolutely positioned (AP) elements are taken out of the flow of the document. This means the elements around them don't know they exist and don't account for them when taking up their proper space on the page. Thus, an AP div should only be used as a side column if you are sure the middle #mainContent div will always contain the most content. If either sidebar were to contain more content, that sidebar would run over the bottom of the parent div, and in this case the footer as well, and the sidebar would not appear to be contained.
3. If the above mentioned requirements are met, absolutely positioned sidebars can be an easy way to control the source order of the document.
4. If the source order is changed, the top value should be equal to the height of the header since this will cause the columns to visually meet the header.
*/

.thrColAbsHdr #Login {
	height: 40px;
	background-color:#000000;
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 


.thrColAbsHdr #header {
	height: 60px;
	background-color:#000000;
	padding: 0 1px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 

.thrColAbsHdr #topLogo {
	height: 134px;
	background-repeat: no-repeat;
	padding-left: 97px;
}

.thrColAbsHdr #leftLogo {
	height: 134px;
	padding: 0 10px 0 20px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	background-repeat: no-repeat;
	background-image: url(LogoArt/images/newICLogo_03.png);
}

.thrColAbsHdr #bottomrightLogo {
	height: 134px;
	padding-left: 117px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	background-repeat: no-repeat;
	background-image: url(LogoArt/images/newICLogo_05.png);
	text-align: left;
	z-index: 200;
}

.thrColAbsHdr #bottomleftLogo {
	height: 134px;
}

.thrColAbsHdr #left {
	position: absolute;
	left: 0;
	width: 160px; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0px 10px 15px 20px; /* padding keeps the content of the div away from the edges */
	visibility: visible;
	top: 134px;
	background-repeat: no-repeat;
	margin-top: 150px;
}
.thrColAbsHdr #right {
	position: absolute;
	right: 0px;
	width: 160px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	/* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0px 10px 15px 20px; /* padding keeps the content of the div away from the edges */
	visibility: visible;
	padding-top: 12px;
}
.thrColAbsHdr #mainContent {
	margin: 0px 190px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
.thrColAbsHdr #footer {
	padding: 0 10px 0 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background-color: #000000;	

} 
.thrColAbsHdr #footer p {
    background-color:#000000;
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	clear: both;
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
